<div class="card mt-25">
    <div class="card-body">
        <div class="application-task d-flex align-items-center mb-25" *ngFor="let categorie of categories">
            <div class="application-task-icon wh-60 bg-opacity-secondary content-center">
                <img class="svg wh-25" [src]="categorie.icone" alt="img">
            </div>
            <div class="application-task-content">
                <h4>{{ categorie.nom }}</h4>
               
            </div>
        </div>
    </div>
</div>
