<main class="main-content">
    <div class="contents">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-main">
              <h4 class="text-capitalize breadcrumb-title">Dépenses</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-30">
            <div class="support-ticket-system support-ticket-system--search">
              <div class="breadcrumb-main m-0 breadcrumb-main--table justify-content-sm-between ">
                <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                  <div class="d-flex align-items-center ticket__title justify-content-center me-md-25 mb-md-0 mb-20">
                    <h4 class="text-capitalize fw-500 breadcrumb-title">Dépense</h4>
                  </div>
                </div>
                <div class="action-btn">
                  <button class="btn btn-primary">
                    Ajouter Dépense
                  </button>
                </div>
              </div>
              <!-- Formulaire d'ajout de revenu -->
            
              <!-- Tableau des revenus -->
              <div class="userDatatable userDatatable--ticket userDatatable--ticket--2 mt-1">
                <div class="table-responsive">
                  <table class="table mb-0 table-borderless">
                    <thead>
                      <tr class="userDatatable-header">
                        <th><span class="userDatatable-title">Catégorie</span></th>
                        <th><span class="userDatatable-title">Nom catégorie</span></th>
                        <th><span class="userDatatable-title">Montant</span></th>
                        <th><span class="userDatatable-title">Date</span></th>
                        <th><span class="userDatatable-title">Notes</span></th>
                        <th><span class="userDatatable-title">Moyenne de paiement</span></th>
                        <th scope="col" class="text-end">
                          <span class="userDatatable-title ">Actions</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let depense of depenses">
                        <td> <div class="application-task-icon wh-60 bg-opacity-primary content-center">
                          <img class="svg wh-25" [src]="depense.categorie.icone" alt="img">
                      </div></td>
                        <td>{{ depense.categorie.nom }}</td>
                        
                        <td>{{ depense.montant}} Dhs</td>
                        <td>{{ depense.date }}</td>
                        <td>{{ depense.moyennePaiement }}</td>
                        <td>{{ depense.notes }}</td>
                        <td>
                          <ul class="orderDatatable_actions mb-0 d-flex flex-wrap float-end">
                            <li>
                              <a class="edit" (click)="toggleForm(depense)">
                                <i class="uil uil-edit"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="remove" (click)="showConfirmationModal(depense.idDepense)">
                                <i class="uil uil-trash-alt"></i>
                            </a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
 
  