<!-- <div class="contents">
    <div class="container-fluid">
       <div class="row">
         <div class="col-lg-12">
           <div class="shop-breadcrumb">
             <div class="breadcrumb-main">
               <h4 class="text-capitalize breadcrumb-title">Ajouter un revenu</h4>
              
             </div>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-lg-12">
           <div class="product-add global-shadow px-sm-30 py-sm-50 px-0 py-20 bg-white radius-xl w-100 mb-40">
             <div class="row justify-content-center">
               <div class="col-xxl-7 col-lg-10">
                 <div class="mx-sm-30 mx-20">
                   <div class="card add-product p-sm-30 p-20 mb-30">
                    <div class="card-body p-0">
                       <div class="card-header">
                         <h6 class="fw-500">Informations sur le revenu</h6>
                       </div>
                       <div class="add-product__body px-sm-40 px-20">
                         <form>
                           <div class="form-group">
                             <label for="revenueName">Nom du revenu</label>
                             <input type="text" class="form-control" id="revenueName" placeholder="Nom du revenu">
                           </div>
                           <div class="form-group">
                             <label for="revenueAmount">Montant</label>
                             <input type="number" class="form-control" id="revenueAmount" placeholder="Montant">
                           </div>
                           <div class="form-group">
                             <label for="revenueDate">Date</label>
                             <input type="date" class="form-control" id="revenueDate">
                           </div>
                           
                           <div class="form-group">
                            <label for="revenueType">Type de revenu</label>
                            <select class="form-control" id="revenueType" [(ngModel)]="selectedType">
                                <option value="{{ Type.SALAIRE }}">SALAIRE</option>
                                <option value="{{ Type.REVENU_LOCATIF }}">REVENU LOCATIF</option>
                                <option value="{{ Type.DIVIDENDES }}">DIVIDENDES</option>
                                <option value="{{ Type.INTERETS }}">INTERETS</option>
                                <option value="{{ Type.REVENU_VENTES }}">REVENU VENTES</option>
                                <option value="{{ Type.ALLOCATION_FAMILIALE }}">ALLOCATION FAMILIALE</option>
                                <option value="{{ Type.PRIME }}">PRIME</option>
                                <option value="{{ Type.DROITS_AUTEUR }}">DROITS AUTEUR</option>
                                <option value="{{ Type.AFFILIATIONS }}">AFFILIATIONS</option>
                                <option value="{{ Type.INVESTISSEMENTS_IMMOBILIERS }}">INVESTISSEMENTS IMMOBILIERS</option>
                                <option value="{{ Type.AUTRES }}">AUTRES</option>
                            </select>
                        </div>
                           <div class="button-group add-product-btn d-flex justify-content-sm-end justify-content-center mt-40">
                             <button class="btn btn-light btn-default btn-squared fw-400 text-capitalize">Annuler</button>
                             <button class="btn btn-primary btn-default btn-squared text-capitalize" (click)=" ajouterRevenue()">Enregistrer le revenu</button>
                           </div>
                         </form>
                       </div>
                    </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
    </div>
   </div>
    -->